.hidden {
	display: none !important;
}

/* ---------------------------- Setting container --------------------------- */
.text-container .setting-container {
	width: 100%;
	margin-bottom: 7px;
	display: flex;
}
.text-container .setting-container .title {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}

.text-container .setting-container:hover,
.text-container .setting-container:focus {
	background-color: #252a35;
}

.text-container .setting-container .right {
	margin-left: auto;
}

/* --------------------------------- Buttons -------------------------------- */
.text-container .right .button {
	border-radius: 2px;
	color: white !important;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background-color: #3c4d6d;
	transition: all 0.1s ease-in-out;
	padding: 5px 35px;
}

.text-container .right .btn_enable {
	background-color: #037504;
	color: white !important;
}
.text-container .right .btn_enable::before {
	content: "Enabled" !important;
}
.text-container .right .btn_enable:hover,
.text-container .right .btn_enable:focus {
	background-color: #009501 !important;
}

.text-container .right .btn_disable {
	background-color: #a20101;
	color: white !important;
}
.text-container .right .btn_disable::before {
	content: "Disabled";
}

.text-container .right .btn_disable:hover,
.text-container .right .btn_disable:focus {
	background-color: #af3232 !important;
}

.text-container .right .button:hover,
.text-container .right .button:focus {
	text-decoration: none;
	background-color: #54698f;
	filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.25));
}

/* ---------------------------- Overlay overrides --------------------------- */

.sap-overlay {
	display: flex;
}
.sap-overlay .overlay-content {
	max-height: 80vh !important;
	height: auto;
	overflow: auto;
}

.sap-overlay .profile-icon {
	height: 90px;
	width: 90px;
	position: initial;
}

.sap-overlay .button-container {
	margin-bottom: 10px;
}

.sap-overlay .btn_good {
	background-color: #037504;
	color: white !important;
}
.sap-overlay .btn_good:hover,
.sap-overlay .btn_good:focus {
	background-color: #009501 !important;
}

.sap-overlay .btn_bad {
	background-color: #a20101;
	color: white !important;
}

.sap-overlay .btn_bad:hover,
.sap-overlay .btn_bad:focus {
	background-color: #af3232 !important;
}

.overlay-content .search {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}
