body {
	margin: 0 !important;
	text-shadow: black 0px 0px 1px !important;
	background-image: linear-gradient(#3f719d, #305c8c) !important;
	color: white !important;
	min-height: 100vh;
}

.invisible {
	display:none !important;;
}

/* Navigation bar at the top of the page */
.title-bar {
	background-color: black;
	height: 50px;
	width: 100%;
	display: flex;
	font-size: 1.1em;
	padding: 0px 50px;
	margin-bottom: 20px;
}
.title-bar .title {
	font-size: 1.5em;
	margin-top: auto;
	margin-bottom: auto;
}
.title-bar .right-nav {
	display: flex;
	margin-left: auto;
}
.title-bar .right-nav a {
	min-width: 100px;
	border: none;
	background-color: #0000;
	color: white;
	text-align: center;
	display: flex;
	transition: background-color 0.1s;
}
.title-bar .right-nav span {
	margin: auto;
}
.title-bar .right-nav a:hover {
	background-color: #1c4e79;
	text-decoration: none;
}

@media all and (max-width: 630px) {
	.title-bar {
		padding: 0px 10px;
	}
}
@media all and (max-width: 550px) {
	.title-bar {
		height: 40px;
		font-size: 1.1em;
		padding: 5px;
		margin-bottom: 15px;
		display: inline-table;
		text-align: center;
	}
	.title-bar .right-nav a {
		min-width: 80px;
		margin: auto;
	}
}

/* Body */
.body-container {
	background-color: black;
	height: auto;
	width: 800px;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 5px 5px 0px;
	border-radius: 5px;
	transition: height 0.1s;
}
.body-container .setting-block {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	background-color: #171717;
}
.body-container .setting-heading {
	background-color: #414855;
	height: 30px;
	width: 100%;
	padding: 0px 30px;
	font-size: 1.2em;
	display: flex;
	margin-bottom: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.body-container .setting-heading span {
	margin-top: auto;
	margin-bottom: auto;
}
.body-container .setting {
	padding: 4px 26px;
	width: 100%;
	height: 35px;
	display: flex;
	transition: background-color 0.1s;
	margin-bottom: 5px;
}
@media all and (max-width: 830px) {
	.body-container {
		width: 100%;
	}
}

.body-container .setting:hover {
	background-color: #2a3a53;
}
.body-container .setting-active {
	background-color: #2a3a53;
}
/* Switches */
.setting .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	padding: 3px;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 40px;
}
.setting .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.setting .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #b50c0c;
	-webkit-transition: .1s;
	transition: .1s;
	padding: 3px;
	height: 100%;
	display: flex;
}
.setting .slider:before {
	position: relative;
	content: "";
	height: 100%;
	width: 26px;
	background-color: white;
	-webkit-transition: .1s;
	transition: .1s;
}
.setting input:checked + .slider {
	background-color: #1cca03;
}
.setting input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Text and Number Input */
.setting input {
	width: 100px;
	height: 100%;
	margin-right: 50px;
	text-align: center;
}
.setting button {
	width: 100px;
	height: 100%;
	margin-right: 50px;
	background-color: #076ba8;
	border-color: #076ba8;
	color: white;
	text-shadow: black 0 0 1px;
}
@media all and (max-width: 830px) {
	.setting .switch {
		margin-right: 10px;
	}
	.setting input {
		margin-right: 10px;
	}
	.setting button {
		margin-right: 10px;
	}
}

/* Title  */
.body-container .setting .title {
	margin-top: auto;
	margin-bottom: auto;
}
/* Help */
.body-container .setting .help {
	margin-left: auto;
	font-size: 1.0em;
	border: 3px solid #0097e1;
	text-align: center;
	width: 28px;
	border-radius: 180px;
}
.body-container .setting .help:before {
	content: "?";
}
.body-container .help-box {
	width: 100%;
	min-height: 50px;
	background-color: #1e2a3c;
	margin-top: -5px;
	margin-bottom: 5px;
	padding: 5px 15px;
	color: #e9f3f4;
}

/* Overlays */
.overlay {
	background-color: #000000b3;
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	z-index: 1;
	color: white;
	font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
	font-size: 1.2em;
}

.overlay .popup-body {
	min-width: 400px;
	min-height: 100px;
	max-height: 70%;
	background-color: black;
	border: solid #535353 1px;
	border-radius: 5px;
	margin: auto;
	padding: 5px;
}
.overlay .popup-body .title {
	width: 100%;
	background-color: #414855;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 0px 15px;
	text-align: center;
}
.overlay .content {
	width: 100%;
	height: 100%;
	max-height: 50vh;
	background-color: #171717;
	padding: 2px 15px;
	text-align: initial;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: auto;
}
.overlay .buddy-container {
	min-width: 400px;
	width: auto;
	height: auto;
	display: flex;
	background-color: #252931;
	padding: 2px 15px;
	text-align: initial;
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: background-color 0.1s;
}
.overlay .buddy-container:hover {
	background-color: #344056;
}
.overlay .buddy-container .profile_picture {
	height: 100%;
	padding: 2px;
	border-radius: 2px;
	margin: auto;
}
.overlay .buddy-container img {
	width: 50px;
	font-size: 0.5em;
}

.overlay .buddy-container .identifiers {
	height: auto;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color:white;
}
.overlay .buddy-container .actions {
	padding: 2px 8px;
	border-radius: 2px;
	background-color: red;
	margin: auto;
	margin-right: 0;
	text-align: center;
	user-select: none;
	cursor: pointer;
	transition: background-color 0.1s;
}
.overlay .buddy-container .actions:hover {
	background-color: #820101;
}

.overlay .content textarea {
	width:100%;
	height:300px;
	font-size:0.7em;
	overflow:visible
}


.overlay .close-popup {
	width: 100%;
	background-color: #214265;
	padding: 2px 15px;
	text-align: center;
	color: white;
	cursor: pointer;
	transition: background-color 0.1s;
}
.overlay .close-popup:hover {
	background-color: #066592;
}
