body {
	margin: 0;
	background-color: #1b2838;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: #f4f4f4;
}
a {
	color: #7dd4ff;
}

/* -------------------------------- Title Box ------------------------------- */
.title-box {
	background-color: #171a21;
	height: 50px;
	width: 100%;
	text-shadow: 0 0 10px #00000087;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.title-box .title {
	font-size: 2em;
	font-family: sans-serif;
	margin: auto;
}

/* ---------------------------------- Body ---------------------------------- */
.text-container {
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.2em;
	width: 80%;
	min-height: 250px;
	max-width: 1000px;
	margin-top: 15px;
	box-sizing: border-box;
	display: flex;
	background-color: #00000066;
	box-shadow: black 0 0 5px;
}

.text-container .navigation {
	width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #171a21;
}
.text-container .navigation a {
	display: flex;
	width: 100%;
	height: auto;
	padding: 10px 15px;
	box-sizing: border-box;
	color: #dcdcdc;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

.text-container .navigation a:hover,
.text-container .navigation a:focus {
	background-color: #252a35;
}
.text-container .navigation .active {
	background-color: #5487ff !important;
	color: white;
}

.text-container .navigation a * {
	margin: auto;
}
.text-container .bottom {
	margin-top: auto;
}

.text-container .text {
	text-align: left;
	width: 100%;
	margin-left: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
}

.text-container .text .header {
	padding: 3px 10px;
	margin-bottom: 10px;
	background-color: #0839ab;
	color: white;
	font-size: 1.6em;
	text-align: center;
}

/* ---------------------------------- Misc ---------------------------------- */
.hidden {
	display: none;
}

/* ------------------------ Small Screen Adjustments ------------------------ */

@media all and (max-width: 650px) {
	.title-box .title {
		font-size: 1.5em;
	}
	.text-container {
		width: 100%;
		min-height: 0;
		flex-direction: column;
		background-color: #00000000;
		box-shadow: 0;
	}
	.text-container .navigation {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		box-shadow: black 0 0 5px;
	}
	.text-container .text {
		margin: 0;
		margin-top: 10px;
		padding: 15px 10px;
		background-color: #00000066;
		box-shadow: black 0 0 5px;
	}
}
