.hidden {
  display: none !important;
}

body {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#283846), to(#202428));
  background: linear-gradient(to bottom, #283846, #202428);
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #00000070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.header .title {
  margin: auto;
  font-size: 1.6em;
  color: white;
}

.settings_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
  margin: 20px auto 0px auto;
  padding: 10px;
  background-color: #00000070;
  color: white;
}

.settings_container .title {
  font-size: 1.5em;
  margin: 0px auto 15px auto;
  background-color: #005179 !important;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.settings_container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.settings_container .description .text {
  margin: 0px auto 0px auto;
  padding-right: 15px;
  line-height: 1.5em;
}

.settings_container .description .progress_panel {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 200px;
}

.settings_container .description .progress_panel .pp_title {
  text-align: center;
  background-color: #00000070;
}

.settings_container .description .progress_panel .pp_service {
  text-align: left;
  margin-top: 5px;
  font-size: 0.9em;
  color: #e8e8e8;
}

.settings_container .description .progress_panel .pp_service span {
  float: right;
}

.settings_container .description .progress_panel .pp_service span:after {
  content: "";
}

.settings_container .description .progress_panel .pp_service .waiting:after {
  content: "Waiting";
  color: yellow;
}

.settings_container .description .progress_panel .pp_service .success:after {
  content: "Good";
  color: #3bff0c;
}

.settings_container .description .progress_panel .pp_service .error:after {
  content: "Error";
  color: #ff0000;
}

@media screen and (max-width: 1200px) {
  .settings_container {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .settings_container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: min-content 10px min-content;
        grid-template-rows: -webkit-min-content 10px -webkit-min-content;
        grid-template-rows: min-content 10px min-content;
  }
  .settings_container .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings_container .description .text {
    width: inherit;
  }
  .nav .footer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 35px;
  }
  .header .title {
    font-size: 1em;
  }
  .settings_container .content .page .setting_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings_container .content .page .setting_block .info {
    width: 100%;
    margin-bottom: 5px;
  }
  .settings_container .content .page .setting_block .actions {
    width: 100%;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    font-size: 16px;
  }
}
