/* ------------------------------- Visibility ------------------------------- */
.hidden {
	display: none !important;
}

.not_faded {
	opacity: 1;
}

/* --------------------------------- Buttons -------------------------------- */

button {
	cursor: pointer;
	margin: auto 1px;
	border: 1px solid rgba(255, 255, 255, 0.0);
	transition: background-color ease-in-out 0.1s, border ease-in-out 0.1s, border-radius ease-in-out 0.1s;
	user-select: none;
}

button:hover,
button:focus {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.button_good {
	background-color: #00b30085;
	border: 0px solid #00a503;
	color: white;
}

.button_good:hover,
.button_good:focus {
	text-shadow: black 0 0 1px;
}

.button_bad {
	background-color: #900000;
	border: 0px solid red;
	color: white;
}

.button_bad:hover,
.button_bad:focus {
	/* background-color: red; */
	text-shadow: black 0 0 1px;
}

/* --------------------------------- Colors --------------------------------- */
.sap-good {
	color: #26ff00;
}
.sap-warning {
	color: #ffe100;
}
.sap-critical {
	color: #ff4c4c;
}

/* .steam-text-white {
	color: #ebebeb;
}
 */
.steam-highlight {
	color: #63b7e7;
}
