$red-button: #9d0101;
$red-text: #ff2a2a;
$good-text: #00ffa2;

$primary-color: #1a1d1f;
$secondary-color: #0f1011;
$tertiary-color: #00468e;

$menu-item: #20242800;
$menu-item-selected: #ff0000;

$button-gen: #005179;
$button-action: #124b87;
$button-hover: #0965c8;

$button-accept: #145a07;
$button-disable: #364248;

body {
	transition: transform ease-in-out 0.2s;
	transform-origin: top;
}

.zoned_out {
	overflow: hidden;
	transform: scale(0.85);

	.responsive_page_menu_ctn.mainmenu {
		display: none;
	}
}

.sap_overlay {
	background-color: #0043ff0d;
	backdrop-filter: blur(7px) saturate(0.1) brightness(0.7);
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 9999999;
	user-select: none;

	.overlay_container {
		max-width: 600px;
		max-height: 450px;
		min-width: 400px;

		background-color: $primary-color;
		color: white;
		border: 1px solid $tertiary-color;
		border-radius: 1px;
		box-sizing: border-box;
		font-family: Verdana, Geneva, Tahoma, sans-serif;

		margin: auto;
		display: flex;
		flex-direction: column;

		.overlay_header {
			width: 100%;
			text-align: center;
			margin-bottom: 1px;

			background-color: $tertiary-color;
			font-size: 1.5em;

			padding: 5px 20px;
			box-sizing: border-box;
		}

		.sub_header {
			margin: auto;
			margin-top: 0px;
			margin-bottom: 5px;
			text-align: center;
		}

		.reputation_box {
			display: flex;
			flex-direction: column;
			padding: 5px;
			box-sizing: border-box;
		}

		.alert {
			animation-name: alert_flash;
			animation-duration: 0.80s;
			animation-iteration-count: 2;
		}

		.community_ban_report {
			text-align: center;
			background-color: #ff000030;
			padding: 2px;
			box-sizing: border-box;
			margin-bottom: 5px;
			display: flex;
			border-radius: 4px;

			img {
				height: 25px;
				width: auto;
				margin: auto 0;
			}

			.text {
				margin: auto;
			}
		}

		.side_by_side_user_container {
			flex-direction: row;
			display: flex;
		}

		.user_information {
			width: 100%;
			margin: auto;

			display: flex;
			flex-direction: row;
			margin-bottom: 1px;
			padding: 10px;
			box-sizing: border-box;

			font-size: 1.1em;

			.profile-picture {
				width: auto;
				max-height: 150px;
				margin: auto;
				border-radius: 3px;
			}

			.divider_header {
				padding: 5px;
				box-sizing: border-box;
				margin-bottom: 5px;

				font-size: 1em;
				text-align: center;

				background-color: rgba(0, 0, 0, 0.25);
			}

			.profile-information {
				margin-left: 10px;

				.descriptor {
					color: #eaeaea;
					font-size: 0.7em;
					width: 100%;
					margin-bottom: 10px;

					div {
						color: white;
						font-size: 1.5em;
						margin-left: auto;
						text-indent: 10px;
					}
				}
			}
		}

		.user_information_vertical {
			flex-direction: column;
		}
		.user_profile_picture {
			margin: auto;

			width: auto;
			max-height: 150px;

			border-radius: 3px;
		}

		.footer_button_container {
			width: 100%;
			height: 35px;
			display: flex;
			padding: 5px;
			box-sizing: border-box;

			button {
				width: 100%;
				height: 100%;
				background-color: $button-gen;
			}
			.button-accept {
				background-color: $button-accept;
			}
			.button-dead {
				background-color: $button-disable;
			}
		}
	}
}

@keyframes alert_flash {
	0% {
		background-color: rgba(0, 0, 0, 0.60);
	}
	50% {
		background-color: rgba(255, 0, 0, 0.75);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.60);
	}
}
