/* ------------------------- Profile action buttons ------------------------- */
.profile_header_actions {
	display: flex;
}
.profile_header_actions .btn_medium,
.profile_header_actions .popup_block {
	margin-right: 5px;
}

/* --------------------------- Reputation scanner --------------------------- */
#reputation-panel .btn_container {
	margin-top: 15px;
	display: flex;
}

#reputation-panel .btn_profile_action {
	display: flex;
	margin: auto;
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	width: 25%;
	text-decoration: none;
	padding: 2px 5px;
}

#reputation-panel .btn_profile_action span {
	display: flex;
	width: 100%;
	height: auto;
	margin: auto;
	line-height: initial;
}

#reputation-panel .btn_profile_action img {
	display: flex;
	margin: auto;
	margin-right: 5px;
	width: 15px;
	height: auto;
}
#reputation-panel .btn_profile_action div {
	display: flex;
	margin-left: 0px !important;
	margin: auto;
	height: 100%;
	font-size: 13px;
	text-shadow: 0 0 2px black;
}
#reputation-panel #reputation-panel-pendingreports {
	min-width: 20px;
	display: inline-grid;
	text-align: center;
}
