/* --------------------------------- Overlay -------------------------------- */
.sap-overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000000cc;
	color: white;
	font-family: sans-serif;
	z-index: 10000;
}

.sap-overlay .overlay-content {
	margin: auto;
	display: flex;
	flex-direction: column;
	background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
	width: 500px;
	height: 200px;
	box-sizing: border-box;
	box-shadow: black 0 0 10px;
}
.sap-overlay .top-bar {
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, #00ccff, #3366ff);
	margin-bottom: 10px;
}

/* ---------------------------- Text and Content ---------------------------- */
.sap-overlay .title {
	color: white;
	font-size: 2em;
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/* ---------------------------- Profile container --------------------------- */

.sap-overlay .profile-container {
	background-color: rgba(0, 0, 0, 0.3);
	width: 95%;
	height: 90px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.sap-overlay .profile-icon {
	width: 75px;
	height: 75px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	border: 3px solid white;
	border-radius: 5px;
}

.sap-overlay .profile-container .description {
	margin: auto;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}

.sap-overlay .profile-container .description-value {
	float: right;
}

.sap-overlay .profile-container .description div {
	padding: 5px;
}
.sap-overlay .profile-container .description div:hover,
.sap-overlay .profile-container .description div:focus {
	background-color: #0ba5ff3d;
}
/* --------------------------------- Buttons -------------------------------- */

.sap-overlay .button-container {
	margin-left: auto;
	margin-right: auto;
}

.sap-overlay .button {
	border-radius: 2px;
	color: white !important;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background-color: #3c4d6d;
	transition: all 0.1s ease-in-out;
	padding: 5px 35px;
}

.sap-overlay .btn_good {
	background-color: #037504;
	color: white !important;
}
.sap-overlay .btn_good:hover,
.sap-overlay .btn_good:focus {
	background-color: #009501 !important;
}

.sap-overlay .button:hover,
.sap-overlay .button:focus {
	text-decoration: none;
	background-color: #54698f;
	filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.25));
}
